body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}

header {
  width: 100%;
  background-color: #006496; /* Awnex primary blue */
  color: white;
  padding: 10px 20px; /* Adjust padding to reduce height */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjusted to space between the title and controls */
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 60px; /* Adjusted height */
}

header h1 {
  margin: 0;
  font-size: 1.2em; /* Adjust font size if necessary */
}

.browser-controls {
  display: flex;
  align-items: center;
}

.browser-controls button {
  margin: 0 5px;
  padding: 10px; /* Adjust padding to reduce button size */
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #006496; /* Awnex primary blue */
  border-radius: 5px;
  background-color: #006496; /* Awnex primary blue */
  color: #ffffff; /* Icon color */
}

.browser-controls i {
  font-size: 20px; /* Adjust icon size if necessary */
  color: #ffbe00; /* Icon color */
}

#main-content {
  display: flex;
  width: 100%;
  height: calc(100% - 60px); /* Adjust based on header height */
}

.sidebar {
  width: 300px;
  min-width: 200px;
  max-width: 500px;
  background-color: #002e7217; /* Awnex primary blue */
  padding-top: 20px;
  transition: width 0.3s;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  resize: horizontal;
}

.sidebar-controls {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #002e7217; /* Awnex primary blue */
  z-index: 100;
}

.sidebar-controls input[type="text"],
.sidebar-controls #refresh-button,
.sidebar-controls #add-qc-button {
  width: calc(100% - 20px); /* Ensure it matches the width of project cards */
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px; /* Space between input and other elements */
}

.sidebar-controls input[type="text"] {
  border: 1px solid #006496; /* Awnex primary blue */
  background-color: #ffffff; /* White background to avoid transparency */
}

.sidebar-controls #refresh-button {
  background-color: #ffbe00; /* Yellow color */
  color: #000; /* Black text */
  border: none;
  cursor: pointer;
}

.sidebar-controls #add-qc-button {
  background-color: #ee4b2b; /* Red color */
  color: #fff; /* White text */
  border: none;
  cursor: pointer;
}

.collapsed {
  width: 0 !important;
  overflow: hidden;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff; /* White text color */
  display: block;
  transition: 0.3s;
  width: 100%;
  text-align: center;
}

.sidebar a:hover {
  color: #ffcb05; /* Awnex yellow */
}

#main {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card {
  border: 1px solid #002d72; /* Awnex primary blue */
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: calc(100% - 20px); /* Adjusted width to be responsive */
  background-color: #ffffff; /* White background */
  color: #002d72; /* Awnex primary blue text */
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card.active {
  border: 3px solid #ffbe00; /* Highlight color */
  box-shadow: 0 0 10px rgba(255, 190, 0, 0.5); /* Optional: add a shadow for better visibility */
}

.project-card div {
  margin-bottom: 5px;
}

.red {
  border-left: 10px solid #ee4b2b;
}

.orange {
  border-left: 10px solid #ffd580;
}

.blue-background-class {
  background-color: lightblue;
}

#loading-spinner {
  display: none;
  text-align: center;
  font-size: 18px;
}

.iframe-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#settings-page {
  display: none; /* Hidden by default */
  width: 100%;
  padding: 20px;
}

#settings-page h2 {
  margin-top: 0;
}

#settings-page input[type="text"],
#settings-page button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

#settings-page input[type="text"] {
  border: 1px solid #ccc;
}

#settings-page button {
  background-color: #006496; /* Awnex primary blue */
  color: white;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}
